{% extends 'base.html.twig' %}

{% block title %}Страница товара{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>

	<p>{{ product.description }}</p>
	<p>Цена: {{ product.price }}</p>

	{% if product.isTop %}
		<p>Топчик!</p>
	{% endif %}

	<a href="{{ path('homepage') }}">на главную</a>
{% endblock %}

