{% extends 'base.html.twig' %}

{% block title %}Оформление заказа{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-error">{{ message }}</div>
    {% endfor %}

    {{ paymentButton|raw }}

    <p>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Продолжить покупки</a>
    </p>

{% endblock %}
