{% extends 'base.html.twig' %}

{% block title %}Оформление заказа{% endblock %}

{% block body %}
    <h1>Спасибо за заказ, мы обязательно с Вами свяжемся.</h1>
    <p><a href="{{ path('homepage') }}" class="btn btn-primary">Продолжить покупки</a></p>
{% endblock %}
